<div class="navbar navbar-default navbar-static-top" ng-controller="StaticNavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{ 'APP_NAME' | translate}} {{ 'VERSION_STRING' | translate }}</a>
    </div>
  </div>
</div>
