<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <small>
  <h2>{{ 'REST_TIME_TEMPLATE_EDIT' | translate }}</h2>
  <table class="table table-bordered table-sp" style="border-style:none;">
    <thead>
      <tr>
        <th class="borderless"></th>
        <th style="border-top: 1px solid #ddd;">{{ 'REST_TEMPLATE_NAME' | translate }}</th>
        <th style="border-top: 1px solid #ddd;">{{ 'REST_TIME' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="restTimeTemplate in restTimeTemplates" ng-form="templateForm" ng-class="{'warning': template.modified }">
        <td class="borderless col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <button type="button" class="btn btn-default btn-xs" ng-click="buttonRestTimeTemplateRemoveClick(restTimeTemplate)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
        <td class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <input type="text" name="name" ng-minlength="1" ng-maxlength="30" required=""
                 class="form-control input-sm"
                 ng-model="restTimeTemplate.name"
                 ng-change="templateNameChange($event, templateForm, restTimeTemplate)" />
          <div class="text-danger">{{restTimeTemplate.templateNameErrorMessage}}</div>
        </td>
        <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-horizontal">
            <div ng-repeat="restTime in restTimeTemplate.times" ng-form="resttimeForm" class="form-group form-inline reset-margin-lr" style="margin-bottom: 5px;">
              <input type="text"
                     class="form-control input-sm input-sp col-lg-5 col-md-5 col-sm-5 col-xs-5"
                     style="max-width:35px;text-align:right;"
                     size="5"
                     length="1"
                     ng-model="restTime.start"
                     ng-class="restTimeTimePickerErrorClass(resttimeForm, restTime)"
                     name="start"
                     bs-timepicker
                     data-time-format="HH:mm"
                     data-length="1"
                     data-minute-step="15"
                     data-use-native=""
                     data-arrow-behavior="picker"
                     ng-change="restTimePickerChange($event, resttimeForm, restTimeTemplate, restTime, 'from')" />
              <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1 reset-margin-lr reset-margin-tb" style="padding-top:4px;padding-left:7px;">&#xFF5E;</div>
              <input type="text"
                     class="form-control input-sm input-sp col-lg-5 col-md-5 col-sm-5 col-xs-5"
                     style="max-width:35px;text-align:right;"
                     size="5"
                     length="1"
                     ng-model="restTime.end"
                     ng-class="restTimeTimePickerErrorClass(resttimeForm, restTime)"
                     name="end"
                     bs-timepicker
                     data-time-format="HH:mm"
                     data-length="1"
                     data-minute-step="15"
                     data-use-native=""
                     data-arrow-behavior="picker"
                     ng-change="restTimePickerChange($event, resttimeForm, restTimeTemplate, restTime, 'to')" />
              <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1 reset-margin-lr reset-margin-tb">
                <button type="button" class="btn btn-default btn-xs" ng-click="buttonRestTimeRemoveClick(restTimeTemplate, $index)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
            <button type="button" class="btn btn-default btn-xs" ng-click="buttonRestTimeAddClick(restTimeTemplate)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="text-danger">{{restTimeTemplate.errorMessage}}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-inline">
    <div class="form-group col-xs-1 reset-margin-lr reset-padding-lr">
      <button type="button" class="btn btn-default btn-xs" ng-click="buttonRestTimeTemplateAddClick()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <div class="form-group col-xs-7 reset-margin-lr reset-padding-lr">
      <div class="text-danger" ng-show="template_errors.length <= 0" ng-repeat="error in template_errors">{{error}}</div>
      <div class="text-success" ng-show="template_errors.length <= 0" ng-repeat="message in messages">{{message}}</div>
    </div>
    <div class="form-group col-xs-4 reset-margin-lr reset-padding-lr" style="text-align:right;">
      <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"
              ng-click="buttonClearTemplateClick()">{{ 'CLEAR' | translate }}</button>
      <button type="button" class="btn btn-primary btn-xs" id="timecardSendButton" ng-disabled="requesting"
              ng-click="buttonSendTemplateClick()">{{ 'REGISTER' | translate }}</button>
    </div>
  </div>
  </small>
</div>

<style>
  body {
    padding-right: 0px !important
  }

  .modal-open {
    overflow-y: auto;
  }
</style>
